<h1>Editing Movement for File <%=@casefile.casenumber%></h1>

<%= render 'form' %>
<div id = "dashboardicons" >
<%= link_to link_to image_tag('/assets/back.jpeg') + 'Back',courtstation_casefile_movements_path(@casefile.courtstation,@casefile)%>
</div>


