<h1>Reports</h1/>

<div id = "reports" >

<table border="3" class = "display" >
<tr>
<th>Type of Case</th>
<th>Case Count</th>


</tr>
<% @casecount.each do |a,b| %>
<tr>
<td><%=a%></td>
<td><%=b%></td>

<%end%>

</tr>
</table>

</div>
</div>
